# vim: filetype=sh
{{ if eq .chezmoi.os "linux" }}
alias ls='ls --color=auto'
{{ else }}
alias ls='ls -G'
{{ end }}
alias la='ls -A'
alias l='ls -CF'
alias ll='ls -lhF'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias cp='cp -v'
alias mv='mv -v'
alias rm='rm -v'
alias mkdir='mkdir -pv'
alias e='$EDITOR'
alias se='sudo $EDITOR'
alias py='python3'
alias bc='bc -l'
alias g='git'
alias ga='git add'
alias gp='git push'
alias gc='git commit'
alias gcl='git clone'
alias gg='git grep -ni'
alias c='chezmoi'
alias ce='chezmoi edit'
alias ca='chezmoi apply'
alias ccd='chezmoi cd'
alias cs='chezmoi status'
