# vim: filetype=sh
{{ if eq .chezmoi.os "linux" }}
alias ls='ls --color=auto'
{{ else }}
alias ls='ls -G' \
{{ end }}
la='ls -A' \
l='ls -CF' \
ll='ls -lhF' \
grep='grep --color=auto' \
egrep='egrep --color=auto' \
fgrep='fgrep --color=auto' \
cp='cp -v' \
mv='mv -v' \
rm='rm -v' \
mkdir='mkdir -pv' \
e='$EDITOR' \
se='sudo $EDITOR' \
py='python3' \
bc='bc -l' \
g='git' \
ga='git add' \
gp='git push' \
gc='git commit' \
gcl='git clone' \
ydl='youtube-dl --add-metadata -i' \
dotfiles='git --git-dir=$HOME/build/dotfiles/ --work-tree=$HOME'  \
dfg='dotfiles' \
dfe='GIT_DIR=$HOME/build/dotfiles GIT_WORK_TREE=$HOME e' 
