# Export environmental variables
{{ if eq .chezmoi.os "darwin" }}
export PATH=$HOME/.local/bin:/opt/homebrew/sbin:/opt/homebrew/bin:/opt/local/bin:$PATH
export LC_ALL=es_ES.UTF-8
export LANG=es_ES.UTF-8
{{ else }}
export PATH=$HOME/.local/bin:$PATH
{{ end }}
export ZDOTDIR=$HOME/.config/zsh/
export ZPLUG_HOME=$HOME/.local/share/zplug/
export EDITOR='vim'
